@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

/* @theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  } */
/* } */

body {
  /* background: var(--background);
  color: var(--foreground); */
  font-family: Arial, Helvetica, sans-serif;
}

@keyframes show-from-top {
  from {
    transform: translateY(-5px);
  }
  to {
    transform: translateY(0);
  }
}

.animate-show-from-top {
  animation: show-from-top 0.08s ease-in-out;
}

.hide-buttons > .control-buttons {
  display: none;
}

@keyframes fade-in-from-bottom {
  from {
    opacity: 0;
    transform: translateY(3px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fade-in-from-bottom {
  animation: fade-in-from-bottom 80ms ease-in-out;
}

.animate-fade-to-right {
  animation: fade-to-right 0.1s ease-in-out;
}

.animate-fade-to-left {
  animation: fade-to-right 0.1s ease-in-out;
}


@keyframes fade-to-right {
  from {
    opacity: 0;
    transform: translateX(-3px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fade-to-left {
  from {
    opacity: 0;
    transform: translateX(3px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}