@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme {
  --color-backcolor: #f4ece8;
  --color-primary-700: #1e40af;
  --color-secondary: #f43f5e;
}


body {
  font-family: Arial, Helvetica, sans-serif;
}

@keyframes show-from-top {
  from {
    transform: translateY(-5px);
  }
  to {
    transform: translateY(0);
  }
}

.animate-show-from-top {
  animation: show-from-top 0.08s ease-in-out;
}

.hide-buttons > .control-buttons {
  display: none;
}

@keyframes fade-in-from-bottom {
  from {
    opacity: 0;
    transform: translateY(3px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fade-in-from-bottom {
  animation: fade-in-from-bottom 80ms ease-in-out;
}

.animate-fade-to-right {
  animation: fade-to-right 0.1s ease-in-out;
}

.animate-fade-to-left {
  animation: fade-to-right 0.1s ease-in-out;
}

.animate-show-ref-icon {
  animation: show-ref-icon 0.2s ease-in-out;
}

@keyframes show-ref-icon {
  from {
    opacity: 0;
    transform: scale(1.2) rotate(-20deg);
  }
  to {
    opacity: 1;
    transform: scale(1) rotate(-20deg);
  }
}


@keyframes fade-to-right {
  from {
    opacity: 0;
    transform: translateX(-3px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fade-to-left {
  from {
    opacity: 0;
    transform: translateX(3px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}